@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
}
/* body {
  overflow: hidden;
} */
#bg {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #7983fc, #BF96B7);
}
main {
  padding: 12px;
}
#mod-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #212121;
}
.mod-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 220.5px;
  width: 294px;
  margin: 12px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(197, 197, 197, .5));
  backdrop-filter: blur(12px);
  border-radius: 38px;
  box-shadow: 10px 10px 24px rgba(247, 247, 247, .19) inset, 4px 10px 20px rgba(0, 0, 0, .16);
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mod-box.fade-up {
  animation-name: fade-up;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.mod-box.fade-up.column2 {
  animation-delay: .15s;
}
@keyframes fade-up-unused {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: .4;
    transform: translateY(0);
  }
}
.mod-box.unused.fade-up {
  animation-name: fade-up-unused;
}
.mod-title {
  position: absolute;
  top: 0;
  left: 0;
}
.mod-title > h3 {
  margin: initial;
  padding-top: 19px;
  padding-left: 25.9px;
  font-size: 24px;
  text-shadow: 4px 3px 6px rgba(193, 193, 193, 0.4);
  letter-spacing: .2px;
}
.mod-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
/* humidity */
#humidity-icon > img {
  margin-top: 9px;
  height: 52.4px;
  width: 52.4px;
  filter: invert(7%) sepia(9%) saturate(44%) hue-rotate(314deg) brightness(82%) contrast(84%);
}
#humidity-value {
  font-weight: 500;
  font-size: 57.4px;
  margin-left: 1.4px;
  letter-spacing: 1px;
}
#humidity-unit {
  font-weight: 700;
  font-size: 28px;
  margin-top: 20.5px;
  margin-left: 3px;
  margin-right: 15.2px;
}
/* temperature */
#temperature-icon > img {
  margin-top: 12px;
  height: 58.4px;
  width: 58.4px;
  filter: invert(7%) sepia(9%) saturate(44%) hue-rotate(314deg) brightness(82%) contrast(84%);
  transform: translateX(5px);
}
#temperature-value {
  font-weight: 500;
  font-size: 57.4px;
  letter-spacing: 1px;
  transform: translateX(-7px);
}
#temperature-unit {
  font-weight: 700;
  font-size: 28px;
  margin-top: 23.2px;
  margin-right: 10.2px;
  transform: translateX(-4.6px);
}
/* light */
#light > .mod-content {
  flex-direction: column;
  margin-top: 39.3px;
  font-size: 17.5px;
  font-weight: 500;
  letter-spacing: 0.05px;
}
#light.light-on > .mod-content {
  transform: translateY(-2px);
}
#light.light-on #light-icon > img {
  height: 61.4px;
  width: 61.4px;
  transform: translateY(0);
  filter: invert(7%) sepia(9%) saturate(44%) hue-rotate(314deg) brightness(82%) contrast(84%);
}
#light.light-off #light-icon > img {
  height: 53.4px;
  width: 53.4px;
  transform: translateY(4.1px);
  filter: invert(7%) sepia(9%) saturate(44%) hue-rotate(314deg) brightness(82%) contrast(84%) opacity(.5);
}
#light.light-on #light-power-consump {
  margin-top: 6.5px;
}
#light.light-off #light-power-consump {
  margin-top: 10.6px;
}
#light-power-price {
  margin-top: 1.8px;
}
/* attendance */
#attendance-value {
  /* if (total display) */
  /* margin-left: 18px; */
  margin-left: 37px;
  font-weight: 500;
  font-size: 57.4px;
  letter-spacing: 1px;
  transform: translateX(-7px);
}
#attendance-unit {
  font-weight: 700;
  font-size: 25px;
  margin-top: 23.2px;
  margin-right: 10.2px;
  transform: translateX(-4.6px);
}
#attendance-total {
  margin-top: 34px;
  font-size: 17.5px;
  font-weight: 600;
  transform: translateX(-7px);
}
/* restroom */
#restroom > .mod-content {
  transform: translateY(3px);
}
#restroom-icon > img {
  height: 61.4px;
  width: 61.4px;
  transform: translateX(-10px);
}
#restroom #restroom-icon > img {
  filter: opacity(.5) invert(7%) sepia(9%) saturate(44%) hue-rotate(314deg) brightness(82%) contrast(84%);
}
#restroom.restroom-in-use #restroom-icon > img {
  filter: opacity(1);
}
#restroom.restroom-free #restroom-icon > img {
  filter: opacity(1);
}
#restroom-status {
  font-weight: 700;
  font-size: 37.4px;
  letter-spacing: 0.1px;
  transform: translate(-15px, -1.6px);
  opacity: .5;
}
#restroom.restroom-in-use #restroom-status {
  opacity: 1;
}
#restroom.restroom-free #restroom-status {
  opacity: .5;
}
/* clock */
#clock {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 53.9px;
  margin-bottom: 56.7px;
  color: rgba(248, 248, 248, .84);
  /* text-shadow: 4px 3px 6px rgba(193, 193, 193, 0.4); */
  transform: translate(-4.4px, 0.8px);
}
#clock.fade-in {
  animation-duration: 3s;
}
#clock-date {
  margin-left: 8px;
  font-size: 25px ;
  font-weight: 700;
  letter-spacing: 1.4px;
}
#clock-time {
  margin-top: 1px;
  line-height: 1em; 
  font-size: 88px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
#clock-colon {
  display: inline-block;
  height: 1em;
  transform: translateY(-7px);
}
/* footer */
footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 53.9px;
  margin-bottom: 56.7px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(248, 248, 248, .7);
}
footer.fade-in {
  animation-duration: 2s;
}
#place > h2 {
  margin-bottom: 0.8px;
  font-size: 31.4px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
#copyright > small {
  font-size: 18.8px;
  font-weight: 300;
  letter-spacing: 1.6px;
}
/* tablet */
@media screen and (max-width: 1024px) {
  main {
    padding: 29px 12px;
  }
}
/* smartphone */
@media screen and (max-width: 414px) {
  #mod-panel {
    max-height: calc(12px + 220.5px + 12px + 12px + 220.5px + 40px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 86%, rgba(180, 150, 191, 0.9));
    overflow: auto;
  }
  .mod-box {
    margin: 12px 0;
  }
  #clock {
    text-align: right;
    left: auto;
    right: 0;
    bottom: calc(74px - 8px);
    margin-left: 0;
    margin-right: calc(53.9px - 8.8px);
    text-shadow: #21212160 0 0 16px;
  }
  #clock-date {
    margin-right: 8px;
    font-size: calc(25px * .7);
    letter-spacing: calc(1.4px * .7);
  }
  #clock-time {
    font-size: calc(88px * .7);
    letter-spacing: calc(1.5px * .7);
  }
  footer {
    bottom: 8px;
  }
  #place > h2 {
    font-size: calc(18.8px * .7);
    letter-spacing: 1.6px;
  }
  #copyright > small {
    font-size: calc(18.8px * .7);
  }
}